.search-input {
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 100px;
    border: 2px solid #fff;
    font-size: 14px;
    outline: none;
    background-color: transparent;
  }
  
  .search-input:focus {
    border-color: white;
    background-color: transparent;
    display: flex;
  }
  
  .search-icon-container {
    position: absolute;
    left: 14px;
    top: 46%;
    transform: translateY(-40%);
    cursor: pointer;
    /* color: gray; */
    display: flex;
    align-items: center;
  }
  
  .search-icon {
    font-size: 22px;
    color: white;
    transition: color 0.2s ease-in-out;
  }
  
  .search-icon:hover {
    color: #4a5568;
  }
  